contact-form{
  padding: 0 3rem 0 3rem;
  display: flex;
  height: 90vh;
  margin-top: 4rem;
}
.c-left{
  display: flex;
  flex-direction: column;
  position: relative;
}
.c-left> :nth-child(1){
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.c-left> :nth-child(2){
  color: var(--blue);
  font-size: 2.5rem;
  font-weight: bold;
}
.c-right{
  position: relative;
}

